/*
 * Autor: Roman Halík, xhalik01
 * 2015/2016
 */

@font-face{
    font-family: 'myFont';
    src: url('fonts_open-sans/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'myFont2';
    src: url('fonts_open-sans/OpenSans-Bold.ttf');
}

@font-face{
    font-family: 'myFont3';
    src: url('fonts_open-sans/OpenSans-ExtraBold.ttf');
}

html{
	background-color: #F1F1F1;
}

body{
	font-family: 'myFont';
	font-size: 18px;
	margin: auto;
	color: #444444;
	max-width: 1240px;
}

header{
	background-color: white;
	border-bottom: 1px solid #444444;
	max-width: 1240px;
	margin: auto;
}

.administration{
	margin-top: 30px;
}

section{
	padding: 30px;
}

h1{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

h2{
	font-family: 'myFont3';
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

h3{
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

h4{
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 5px;
}

a:hover, a:focus{
	text-decoration: none;
}

section a{
	color: #444444;
	font-weight: bold;
}

section a:hover, section a:focus{
	text-decoration: none;
	color: #DFF5B4;
	background-color: #444444;
	border-radius: 2px;
}

nav a{
	color: #444444;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 20px;
	padding-left: 20px;
	float: left;
}

.nav-tabs {
	border: 0px;
}

nav a:hover{
	border-top: 3px solid #444444;
	padding-top: 9px;
	background-color: #DFF5B4;
	color: #444444;
}

.btn{
	font-size: 16px;
	border: 1px solid #444444;
	margin: 8px;
	background-color: white;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	color: #444444;
}

.btn:hover{
	border: 2px solid #444444;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 3px;
	padding-left: 3px;
}

.btn a{
	color: #444444;
}

.jumbotron{
	background-image:url('images/bg3.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
	margin: 0px;
	height: 354px;
}

.jumbotron h1 {
	position: relative; top: 38%;
	margin: 0px;
	color: white;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 5px 5px 5px #444444;
}

.title_collapse{
	color: #444444;
}

.title_collapse:hover{
	color: #444444;
	text-decoration: underline;
}

.active{
	color: #DFF5B4;
	background-color: #444444;
}

.theme_background{
	background-color: #DFF5B4;
}

.administration a:hover{
	background-color: transparent;
	color: white;
}

.table_headers{
	background-color: #444444;
	color: white;
	font-size: 22px;
}

table{
	background-color: #F1F1F1;
	font-size: 20px;
	border-collapse: collapse;
    border-radius: 4px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #444444;
}

th{
	color: white;
	background-color: #444444;
	text-align: center;
}

td, th{
	border: 2px solid #444444;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.white_row{
	background-color: white;
}

img{
	border-radius: 4px;
}

footer{
	background-color:  #444444;
	color: white;
	padding: 30px;
}

footer a{
	color: white;
}

footer li:hover{
	color: #DFF5B4;
}

footer a:hover{
	text-decoration: underline;
	color: #DFF5B4;
}

footer h2{
	color: white;
}

.centering{
	margin: auto;
}

.center_text{
	text-align: center;
}

p{
	text-align: justify;
}

footer .col-md-6{
	padding: 0px;
}

.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-8{
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.gallery .col-md-4{
	margin: 4px;
	width: 385px;
}

.gallery{
	margin: auto;
}

iframe{
	border-radius: 4px;
}

.taken{
	background-color: #FF9999;
}

.free{
	background-color: #9DEE9A;
}

.unvailable{
	background-color: #A5A7A9;
}

.small_text{
	font-size: 14px;
}

.bold{
	font-weight: bold;
}

.schedule td{
	width: 140px;
}

.schedule th{
	height: 50px;
}

.theme_background .content_box{
	background-color: #F5FFE1;
}

.content_box{
	background-color: #F1F1F1;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 16px;
}

.content_box p{
	padding-left: 32px;
}

.content_box ul{
	padding-left: 52px;
}

.content_box h3{
	margin-top: 10px;
}


.form-horizontal .col-sm-2{
	padding-right: 0px;
	width: 130px;
}

.form-horizontal .col-sm-10{
	width: 400px;
}

.col-sm-offset-2{
    margin-left: 130px;
}

form{
	margin-top: 15px;
	margin-bottom: 15px;
}

.administration a:hover{
	color: black;
}

.administration a:focus{
	background-color: transparent;
}

.administration tr:hover{
	background-color: #DFF5B4;
	color:black;
}

.glyphicon-pencil{
	color: #64B4FF;
}

.glyphicon-pencil:hover{
	color: blue;
}

.glyphicon-remove{
	color: #FF9999;
}

.glyphicon-remove:hover{
	color: red;
}

hr{
	border-top: 2px solid #444444;
}